body {
    background-image: url(background.jpg);
    text-align: center;
    font-family: 'Catamaran', sans-serif;        }

h1 {
    text-align: center;
}

#note {
    align-content: center;
}

form {
    display: block;
}
label{
    display: block;
    font-weight: bolder;
}

.new_note{
    background-image: url(note.png);
    height: 283px;
    width: 283px;
    box-sizing: border-box;
    padding: 45px;

    display: inline-block;
}
p{

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul{
    list-style-type: none;
    display: inline-block;
}
@media only screen and (max-width: 600px) {
    .new_note{
        background-image: url(note.png);
        height: 283px;
        width: 283px;
        box-sizing: border-box;
        margin-right: 45px;
        padding: 45px;
    
        display: inline-block;
    }
  }
